@import "variable_override";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  max-width: 100%;
}
h2 {
  text-indent: -10000px;
  height: 30px;
  width: 30px;
}
.penduImg {
  min-height: 60vh;
}
.winOrLose {
  height: 100%;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
}
